{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% get_media_prefix as MEDIA_PREFIX %}

<!DOCTYPE html>
<html>
    <head>
        <style>
            #map {
                height: 600px;
                width: 100%;
            }
        </style>

        <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
        <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
        <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
        <title>Mash-up Euskadi</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{ STATIC_PREFIX }}img/favicon.ico">

        <!-- Stylesheets here ↓ -->
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/bootstrap-responsive.css"/>
        <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css"/>

        <script src="http://openlayers.org/api/OpenLayers.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/lib/jquery-1.6.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/lib/mxn/mxn.js?(openlayers)"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/lib/timeline-2.3.0.js"></script>
        <script src="{{ STATIC_PREFIX }}js/src/timemap.js" type="text/javascript"></script>

        <!-- Scripts here ↓ -->
        {% block scripts %}
        {% endblock %}

        <style>
            div#timelinecontainer { height: 300px; }
            div#mapcontainer { height: 300px; }
            div.olFramedCloudPopupContent { width: 300px; }
        </style>
        <link href="{{ STATIC_PREFIX }}css/examples.css" type="text/css" rel="stylesheet"/>
    </head>

    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <!--Sidebar content-->
                    {% block sidebar %}
                    {% endblock %}
                </div>
                <div class="span8">
                    <!--Body content-->
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
